.header {
  margin-bottom: -1px;
  &-success {
    position: relative;
    @include md(position, relative);
    @include md(background, #fac42f !important);
  }
  &-public-offer {
    @include md(background, #fac42f !important);
  }
  &-nFound {
    background-color: #fff !important;
  }
  &-public-offer {
    background-color: #fff !important;
  }
  @include md(background-color, #FFD567);
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  &-success {
    background: #fff !important;
  }
  &-right {
    display: flex;
    align-items: center;
  }
}

.nav {
  max-width: 320px;
  @include lg(max-width, 475px!important);
  height: 100%;
  width: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2C2C2C;
  overflow-x: hidden;
  transition: 0.5s;
    &-footer {
      color: #777777;
      font-size: rem(16px);
      font-weight: 500;
      bottom: 10%;
      position: absolute;
      white-space: nowrap;
      &:hover {
        color: darken(#fff, 30%);
      }
    }
  &__list {
    text-align: center;
  }
  &__item {
    &:nth-child(2) {
      padding: 20px 0;
    }
  }
  &-close {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: rem(36px);
    color: #F6F6F6;
    transition: 0.3s;
    background: none;
    &:hover {
      color: darken(#fff, 30%);
    }
  }
  &__link {
    text-decoration: none;
    font-size: rem(25px);
    color: #fff;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    &:hover {
      color: darken(#fff, 30%);
    }
  }
  &-email {
    position: absolute;
    top: 14px;
    left: 25px;
    color: #fff;
    font-size: rem(18px);
    cursor: pointer;
    &:hover {
      color: darken(#fff, 30%);
    }
  }
}

.logo {
  &-link {
    @include align-center();
    @include sm(position, static !important);
    &-success {
      left: 42%;
      bottom: 25%;
      position: absolute;
    }
  } 
  &-pic {
    margin-right: 10px;
  }
  &-desc {
    font-size: rem(22px);
    line-height: rem(30px);
    color: #2C2C2C;
    white-space: nowrap;
    @include sm(display, block!important);
    &-success {
      display: none;
    }
  }
}

.hamburger {
  position: relative;
  cursor: pointer;
}

.hamburger div {
  height: 3px;
  background-color: #000;
  margin: 6px 0;
  right: 0;
  margin-left: auto;
  &:first-child {
    width: 28px;
  }
  &:nth-child(2) {
    width: 20px;
  }
  &:nth-child(3) {
    width: 25px;
  }
}

@media screen and (min-height: 460px) {
    .nav__item:nth-child(2) {
      padding: 60px 0;
    }
}

.email {
  display: none;
  @include md(display, block);
  margin-right: 60px;
  &-link {
    @include md(color, #fff);
    font-size: rem(20px);
    color: #fff;
  }
    &-success {
      color: #2C2C2C;
    }
    &-nFound {
      color: #2C2C2C !important;
    }
    &-public-offer {
      color: #2C2C2C !important;
      @include md(color, #fff !important);
    }
}