<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>title</title>
        <meta name="description" content="description">
        <meta name="keywords" content="keywords">
        
        <!-- og image -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="site_name">
        <meta property="og:title" content="title">
        <meta property="og:description" content="description">
        <meta property="og:url" content="http://localhost/index.html">

        <!-- viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- icon -->
        <link rel="shortcut icon" href="../img/favicons/apple-touch-icon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="../../img/favicons/apple-touch-icon.png">

        <!-- Fonts -->
        <link href="" rel="stylesheet">
        
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/38d2cab1a5.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">

        <!-- Styles -->
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <header class="header header-public-offer">
            <div class="container">
                <div class="header-wrapper">
                    <div class="header-left">
                        <div class="logo">
                            <a href="/index.html" class="logo-link">
                                <img src="/img/logo.png" alt="logo" class="logo-pic">
                                <span class="logo-desc">G E T D K</span>
                            </a>
                        </div>  
                    </div>
                    <div class="header-right">
                        <div class="email">
                            <a class="email-link email-public-offer" href="mailto:info@getdk.online">info@getdk.online</a>
                        </div>
                        <div class="hamburger nav-open">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>  
                </div>
                <nav id="nav" class="nav">
                    <div class="nav-head">
                        <a class="nav-email" href="mailto:info@getdk.online">info@getdk.online</a>
                        <button type="button" class="nav-close" href="javascript:void(0)">&times;</button>
                    </div>
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/index.html" class="nav__link">Калькулятор<br>диагностической<br>карты</a></li>
                        <li class="nav__item"><a href="/osago.html" class="nav__link">ОСАГО</a></li>
                        <li class="nav__item"><a href="/FAQ.html" class="nav__link">Популярные вопросы?</a></li>
                    </ul>
                <a href="/public-offer.html" class="nav-footer">Публичная оферта GETDK</a>
                </nav>
            </div>
        </header>
         <section class="faq">
             <div class="wrapper-section">
                 <div class="faq__title">
                     <h1 class="faq__title-text">Популярные вопросы? F.A.Q</h1>
                 </div>
                 <div class="faq-content">
                    <ul class="faq-content__list">
                        <div class="faq-content__item-title">
                                <p class="faq-content__item-title--text">1. What is SwimIp and SwimUp App?</p>
                            <button id="faq1" type="button" class="faq-content__item-button"><img src="/img/cross-faq.svg" alt="cross" class="faq-content__item-button--pic"></button>
                        </div>
                        <li id="faqit1" class="faq-content__item">
                            <p class="faq-content__item-text">We are a team of professional swimmers who are passionate about making swimming easier and enjoyable for everyone. We have two amazing products:</p>
                        </li>
                        <hr class="form__line">
                        <div class="faq-content__item-title">
                            <p class="faq-content__item-title--text">2. What is SwimIp and SwimUp App?</p>
                            <button id="faq2" type="button" class="faq-content__item-button"><img src="/img/cross-faq.svg" alt="cross" class="faq-content__item-button--pic"></button>
                        </div>
                        <li id="faqit2" class="faq-content__item">
                            <p class="faq-content__item-text">We are a team of professional swimmers who are passionate about making swimming easier and enjoyable for everyone. We have two amazing products:</p>
                        </li>
                        <hr class="form__line">
                        <div class="faq-content__item-title">
                            <p class="faq-content__item-title--text">3. What is SwimIp and SwimUp App?</p>
                            <button id="faq3" type="button" class="faq-content__item-button"><img src="/img/cross-faq.svg" alt="cross" class="faq-content__item-button--pic"></button>
                        </div>
                        <li id="faqit3" class="faq-content__item">
                            <p class="faq-content__item-text">We are a team of professional swimmers who are passionate about making swimming easier and enjoyable for everyone. We have two amazing products:</p>
                        </li>
                        <hr class="form__line">
                        <div class="faq-content__item-title">
                            <p class="faq-content__item-title--text">4. What is SwimIp and SwimUp App?</p>
                            <button id="faq4" type="button" class="faq-content__item-button"><img src="/img/cross-faq.svg" alt="cross" class="faq-content__item-button--pic"></button>
                        </div>
                        <li id="faqit4" class="faq-content__item">
                            <p class="faq-content__item-text">We are a team of professional swimmers who are passionate about making swimming easier and enjoyable for everyone. We have two amazing products:</p>
                        </li>
                        <hr class="form__line">
                    </ul>
                 </div>
             </div>
         </section>

        <script src="../js/main.js"></script>
    </body>
</html>