<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>title</title>
        <meta name="description" content="description">
        <meta name="keywords" content="keywords">
        
        <!-- og image -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="site_name">
        <meta property="og:title" content="title">
        <meta property="og:description" content="description">
        <meta property="og:url" content="http://localhost/index.html">

        <!-- viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- icon -->
        <link rel="shortcut icon" href="../img/favicons/apple-touch-icon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="../../img/favicons/apple-touch-icon.png">

        <!-- Fonts -->
        <link href="" rel="stylesheet">
        
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/38d2cab1a5.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">

        <!-- Styles -->
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <header class="header header-public-offer">
            <div class="container">
                <div class="header-wrapper">
                    <div class="header-left">
                        <div class="logo">
                            <a href="/index.html" class="logo-link">
                                <img src="/img/logo.png" alt="logo" class="logo-pic">
                                <span class="logo-desc">G E T D K</span>
                            </a>
                        </div>  
                    </div>
                    <div class="header-right">
                        <div class="email">
                            <a class="email-link email-public-offer" href="mailto:info@getdk.online">info@getdk.online</a>
                        </div>
                        <div class="hamburger nav-open">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>  
                </div>
                <nav id="nav" class="nav">
                    <div class="nav-head">
                        <a class="nav-email" href="mailto:info@getdk.online">info@getdk.online</a>
                        <button type="button" class="nav-close" href="javascript:void(0)">&times;</button>
                    </div>
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/index.html" class="nav__link">Калькулятор<br>диагностической<br>карты</a></li>
                        <li class="nav__item"><a href="/osago.html" class="nav__link">ОСАГО</a></li>
                        <li class="nav__item"><a href="/FAQ.html" class="nav__link">Популярные вопросы?</a></li>
                    </ul>
                <a href="/public-offer.html" class="nav-footer">Публичная оферта GETDK</a>
                </nav>
            </div>
        </header>
        <section class="public-offer">
            <div class="wrapper-section">
                <div class="public-offer__title">
                    <h1 class="public-offer__title-text">Публичная оферта GETDK.ONLINE</h1>
                </div>
                <div class="public-offer-content">
                    <p class="public-offer-content__text">
                        БСайт getdk.online, именуемый в дальнейшем «Исполнитель», публикует настоящий договор о предоставлении услуг (далее Договор), являющийся договором публичной оферты в адрес физических и юридических лиц, именуемых в дальнейшем «Клиент». 
                    </p>
                    <h5 class="public-offer-content__list-title public-offer-content-text">ОБЩИЕ ПОЛОЖЕНИЯ</h5>
                    <ul class="public-offer-content__list">
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">1.1. НАСТОЯЩЕЕ ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ (ДАЛЕЕ – СОГЛАШЕНИЕ) ОТНОСИТСЯ К САЙТУ РАСПОЛОЖЕННОМУ ПО АДРЕСУ HTTPS://www.getdk.online И КО ВСЕМ СООТВЕТСТВУЮЩИМ САЙТАМ, СВЯЗАННЫМ С САЙТОМ (ДАЛЕЕ – САЙТ) getdk.online.</p>
                        </li>
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text"> 1.2. НАСТОЯЩЕЕ СОГЛАШЕНИЕ РЕГУЛИРУЕТ ОТНОШЕНИЯ МЕЖДУ АДМИНИСТРАЦИЕЙ САЙТА И ПОЛЬЗОВАТЕЛЕМ ДАННОГО САЙТА.</p>
                        </li>
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">1.3. АДМИНИСТРАЦИЯ САЙТА ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО В ЛЮБОЕ ВРЕМЯ ИЗМЕНЯТЬ, ДОБАВЛЯТЬ ИЛИ УДАЛЯТЬ ПУНКТЫ НАСТОЯЩЕГО СОГЛАШЕНИЯ БЕЗ УВЕДОМЛЕНИЯ ПОЛЬЗОВАТЕЛЯ. </p>
                        </li>
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">1.4. ПРОДОЛЖЕНИЕ ИСПОЛЬЗОВАНИЯ САЙТА ПОЛЬЗОВАТЕЛЕМ ОЗНАЧАЕТ ПРИНЯТИЕ СОГЛАШЕНИЯ И ИЗМЕНЕНИЙ, ВНЕСЕННЫХ В НАСТОЯЩЕЕ СОГЛАШЕНИЕ.</p>
                        </li>
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">1.5. ПОЛЬЗОВАТЕЛЬ НЕСЕТ ПЕРСОНАЛЬНУЮ ОТВЕТСТВЕННОСТЬ ЗА ПРОВЕРКУ НАСТОЯЩЕГО СОГЛАШЕНИЯ НА НАЛИЧИЕ ИЗМЕНЕНИЙ В НЕМ.</p>
                        </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text"> 2.ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h5>
                    <ul class="public-offer-content__list">
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">2.1.0 ПЕРЕЧИСЛЕННЫЕ НИЖЕ ТЕРМИНЫ ИМЕЮТ ДЛЯ ЦЕЛЕЙ НАСТОЯЩЕГО СОГЛАШЕНИЯ СЛЕДУЮЩЕЕ ЗНАЧЕНИЕ:</p>
                        </li>
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">2.1.1 «getdk.online» –ОСУЩЕСТВЛЯЕТ СВОЮ ДЕЯТЕЛЬНОСТЬ ПОСРЕДСТВОМ ИНТЕРНЕТ-РЕСУРСА И СОПУТСТВУЮЩИХ ЕМУ СЕРВИСОВ ОРГАНИЗАЦИИ.</p>
                        </li>
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">2.1.2. ПОЛЬЗОВАТЕЛЬ САЙТА (ДАЛЕЕ — ПОЛЬЗОВАТЕЛЬ) – ЛИЦО, ИМЕЮЩЕЕ ДОСТУП К САЙТУ, ПОСРЕДСТВОМ СЕТИ ИНТЕРНЕТ И ИСПОЛЬЗУЮЩЕЕ САЙТ.</p>
                        </li>
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">2.1.3. СОДЕРЖАНИЕ САЙТА (ДАЛЕЕ – СОДЕРЖАНИЕ) — ОХРАНЯЕМЫЕ РЕЗУЛЬТАТЫ ИНТЕЛЛЕКТУАЛЬНОЙ ДЕЯТЕЛЬНОСТИ, ВКЛЮЧАЯ ТЕКСТЫ ЛИТЕРАТУРНЫХ ПРОИЗВЕДЕНИЙ, ИХ НАЗВАНИЯ, ПРЕДИСЛОВИЯ, АННОТАЦИИ, СТАТЬИ, ИЛЛЮСТРАЦИИ, ОБЛОЖКИ, МУЗЫКАЛЬНЫЕ ПРОИЗВЕДЕНИЯ С ТЕКСТОМ ИЛИ БЕЗ ТЕКСТА, ГРАФИЧЕСКИЕ, ТЕКСТОВЫЕ, ФОТОГРАФИЧЕСКИЕ, ПРОИЗВОДНЫЕ, СОСТАВНЫЕ И ИНЫЕ ПРОИЗВЕДЕНИЯ, ПОЛЬЗОВАТЕЛЬСКИЕ ИНТЕРФЕЙСЫ, ВИЗУАЛЬНЫЕ ИНТЕРФЕЙСЫ, НАЗВАНИЯ ТОВАРНЫХ ЗНАКОВ, ЛОГОТИПЫ, ПРОГРАММЫ ДЛЯ ЭВМ, БАЗЫ ДАННЫХ, А ТАКЖЕ ДИЗАЙН, СТРУКТУРА, ВЫБОР, КООРДИНАЦИЯ, ВНЕШНИЙ ВИД, ОБЩИЙ СТИЛЬ И РАСПОЛОЖЕНИЕ ДАННОГО СОДЕРЖАНИЯ, ВХОДЯЩЕГО В СОСТАВ САЙТА И ДРУГИЕ ОБЪЕКТЫ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ ВСЕ ВМЕСТЕ И/ИЛИ ПО ОТДЕЛЬНОСТИ, СОДЕРЖАЩИЕСЯ НА САЙТЕ.</p>
                        </li>
                        <li class="public-offer-content__item">
                            <p class="public-offer-content__text public-offer-content__item-text">2.1.4. ДИАГНОСТИЧЕСКАЯ КАРТА — ДОКУМЕНТ, ОФОРМЛЕННЫЙ ПО РЕЗУЛЬТАТАМ ПРОВЕДЕНИЯ ТЕХНИЧЕСКОГО ОСМОТРА ТРАНСПОРТНОГО СРЕДСТВА (В ТОМ ЧИСЛЕ ЕГО ЧАСТЕЙ, ПРЕДМЕТОВ ЕГО ДОПОЛНИТЕЛЬНОГО</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <script src="../js/main.js"></script>
    </body>
</html>