<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>title</title>
        <meta name="description" content="description">
        <meta name="keywords" content="keywords">
        
        <!-- og image -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="site_name">
        <meta property="og:title" content="title">
        <meta property="og:description" content="description">
        <meta property="og:url" content="http://localhost/index.html">

        <!-- viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- icon -->
        <link rel="shortcut icon" href="../img/favicons/apple-touch-icon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="../../img/favicons/apple-touch-icon.png">

        <!-- Fonts -->
        <link href="" rel="stylesheet">
        
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/38d2cab1a5.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">

        <!-- Styles -->
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <header class="header header-public-offer">
            <div class="container">
                <div class="header-wrapper">
                    <div class="header-left">
                        <div class="logo">
                            <a href="/index.html" class="logo-link">
                                <img src="/img/logo.png" alt="logo" class="logo-pic">
                                <span class="logo-desc">G E T D K</span>
                            </a>
                        </div>  
                    </div>
                    <div class="header-right">
                        <div class="email">
                            <a class="email-link email-public-offer" href="mailto:info@getdk.online">info@getdk.online</a>
                        </div>
                        <div class="hamburger nav-open">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>  
                </div>
                <nav id="nav" class="nav">
                    <div class="nav-head">
                        <a class="nav-email" href="mailto:info@getdk.online">info@getdk.online</a>
                        <button type="button" class="nav-close" href="javascript:void(0)">&times;</button>
                    </div>
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/index.html" class="nav__link">Калькулятор<br>диагностической<br>карты</a></li>
                        <li class="nav__item"><a href="/osago.html" class="nav__link">ОСАГО</a></li>
                        <li class="nav__item"><a href="/FAQ.html" class="nav__link">Популярные вопросы?</a></li>
                    </ul>
                <a href="/public-offer.html" class="nav-footer">Публичная оферта GETDK</a>
                </nav>
            </div>
        </header>
        <section class="public-offer">
            <div class="wrapper-section">
                <div class="public-offer__title">
                    <h1 class="public-offer__title-text">Публичная оферта GETDK.ONLINE</h1>
                </div>
                <div class="public-offer-content">
                    <p class="public-offer-content__text">
                        Сайт getdk.online, именуемый в дальнейшем «Исполнитель», публикует настоящий договор о предоставлении услуг (далее Договор), являющийся договором публичной оферты в адрес физических и юридических лиц, именуемых в дальнейшем «Клиент». 
                    </p>
                    <h5 class="public-offer-content__list-title public-offer-content-text">ОБЩИЕ ПОЛОЖЕНИЯ</h5>
                    <ul class="public-offer-content__list">
                         <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.1. Настоящее пользовательское соглашение (далее – соглашение) относится к сайту расположенному по адресу https://getdk.online и ко всем соответствующим сайтам, связанным с сайтом (далее – сайт) getdk.online.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.2. Настоящее соглашение регулирует отношения между администрацией сайта и пользователем данного сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.3. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего соглашения без уведомления пользователя.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.4. Продолжение использования сайта пользователем означает принятие соглашения и изменений, внесенных в настоящее соглашение.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.5. Пользователь несет персональную ответственность за проверку настоящего соглашения на наличие изменений в нем.</p>
                       </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text"> 2.ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h5>
                    <ul class="public-offer-content__list">
                        <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1. Перечисленные ниже термины имеют для целей настоящего соглашения следующее значение:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.1 «getdk.online» –осуществляет свою деятельность посредством интернет-ресурса и сопутствующих ему сервисов организации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.2. Пользователь сайта (далее - пользователь) – лицо, имеющее доступ к сайту, посредством сети интернет и использующее сайт.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.3. Содержание сайта (далее – содержание) - охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного содержания, входящего в состав сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.4. Диагностическая карта - документ, оформленный по результатам проведения технического осмотра транспортного средства (в том числе его частей, предметов его дополнительного оборудования), содержащий сведения о соответствии или несоответствии транспортного средства обязательным требованиям безопасности транспортных средств и в случае, если содержит сведения о соответствии обязательным требованиям безопасности транспортных средств, подтверждающий допуск транспортного средства к участию в дорожном движении на территории российской федерации и в соответствии с международными договорами российской федерации также за ее пределами.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.5. Оператор технического осмотра - юридическое лицо или индивидуальный предприниматель (в том числе дилер), аккредитованные в установленном порядке на право проведения технического осмотра.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.6. Средства технического диагностирования - оборудование и программные средства, с помощью которых осуществляется техническое диагностирование и которые применяются при проведении технического осмотра.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.7. Пункт технического осмотра (далее – «ПТО») - совокупность сооружений и средств технического диагностирования (в том числе средств измерения), необходимых для проведения технического осмотра транспортных средств оператором технического осмотра и находящихся по одному адресу.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.8. Технический осмотр транспортных средств (далее также - технический осмотр) - проверка технического состояния транспортных средств (в том числе их частей, предметов их дополнительного оборудования) на предмет их соответствия обязательным требованиям безопасности транспортных средств в целях допуска транспортных средств к участию в дорожном движении на территории российской федерации и в случаях, предусмотренных международными договорами российской федерации, также за ее пределами.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.9. Технический эксперт - работник оператора технического осмотра, осуществляющий техническое диагностирование и отвечающий установленным в сфере технического осмотра квалификационным требованиям.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.10. Техническое диагностирование - часть технического осмотра, заключающаяся в процедуре подтверждения соответствия транспортных средств (в том числе их частей, предметов их дополнительного оборудования) обязательным требованиям безопасности транспортных средств.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.11, требования аккредитации - совокупность требований, которым должны удовлетворять заявитель и оператор технического осмотра при осуществлении деятельности по проведению технического осмотра;</p>
                       </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text"> 3. ПРЕДМЕТ СОГЛАШЕНИЯ</h5>
                    <ul class="public-offer-content__list">
                        <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.1. Предметом настоящего соглашения является предоставление пользователю сайта доступа к оказываемым услугам содержащимся на сайте.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.1.1. Сайт предоставляет пользователю следующие виды услуг (сервисов):</p>
                           <ul class="public-offer-content__item_list">
                               <li class="public-offer-content__item_list-item"><p class="public-offer-content__item-text">возможность подать заявку на прохождение технического осмотра транспортного средства на одной (или нескольких) из сотрудничающих с сайтом ПТО;</p></li>
                               <li class="public-offer-content__item_list-item"><p class="public-offer-content__item-text">иные виды услуг (сервисов), реализуемые на страницах сайта.</p></li>
                           </ul>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.1.2. Под действие настоящего соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) сайта, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.2. Настоящее соглашение является публичной офертой. Получая доступ к сайту пользователь считается присоединившимся к настоящему соглашению.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.3. Использование материалов и сервисов сайта регулируется нормами действующего законодательства российской федерации</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.4. Сайт не является оператором технического осмотра транспортных средств и не имеет средств технического диагностирования.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.5. Результатом получения услуги из п.3.1.1. является бланк диагностической карты с результатом проведения технического осмотра на ПТО и заверенный печатью и подписью технического эксперта ПТО, отправленный посредством электронной почты на электронный почтовый ящик пользователя, который ранее воспользовался услугой.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.6. Пользователь соглашается, что после заполнения любой формы на сайте его данные будут переданы на ПТО для дальнейшей обработки, в том числе для связи с пользователем по указанным контактным данным.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.7. Сайт не несет ответственности за процедуру технического диагностирования, которую проводит технический эксперт ПТО, делающий заключение о возможности или невозможности эксплуатации транспортного средства.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.8. Сайт не предоставляет доступ и не имеет доступа к единой автоматизированной информационной системе технического осмотра.</p>
                       </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text">4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h5>
                    <ul class="public-offer-content__list">
                        <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.1. Администрация сайта вправе:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.1.1. Изменять правила пользования сайтом, а также изменять содержание данного сайта. Изменения вступают в силу с момента публикации новой редакции соглашения на сайте.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.1.2. Ограничить доступ к сайту в случае нарушения пользователем условий настоящего соглашения.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.2. Пользователь вправе:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.2.1. Пользоваться всеми имеющимися на сайте услугами, а также приобретать любые товары, предлагаемые на сайте.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.2.2. Задавать любые вопросы, относящиеся к услугам сайта по реквизитам, которые находятся в разделе сайта «контакты».</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.2.3. Пользоваться сайтом исключительно в целях и порядке, предусмотренных соглашением и не запрещенных законодательством российской федерации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3. Пользователь сайта обязуется:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.1. Предоставлять по запросу администрации сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.2. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.3. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу сайта..</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.4. Не распространять с использованием сайта любую конфиденциальную и охраняемую законодательством российской федерации информацию о физических либо юридических лицах.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.5. Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой законодательством российской федерации информации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.6. Не использовать сайт для распространения информации рекламного характера, иначе как с согласия администрации сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. Не использовать сервисы сайта с целью:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 1. загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 2. побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории российской федерации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 3. нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 4. ущемления прав меньшинств.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 5. представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 6. некорректного сравнения услуг, а также формирования негативного отношения к лицам, (не) пользующимся определенными товарами, или осуждения таких лиц.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4. Пользователю запрещается:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания сайта;</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.2. Нарушать надлежащее функционирование сайта;</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.3. Любым способом обходить навигационную структуру сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного сайта;</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.4. Несанкционированный доступ к функциям сайта, любым другим системам или сетям, относящимся к данному сайту, а также к любым услугам, предлагаемым на сайте;</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.5. Нарушать систему безопасности или аутентификации на сайте или в любой сети, относящейся к сайту.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.6. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом пользователе сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.7. Использовать сайт и его содержание в любых целях, запрещенных законодательством российской федерации, а также подстрекать к любой незаконной деятельности.</p>
                       </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text">5. ИСПОЛЬЗОВАНИЕ САЙТА</h5>
                    <ul class="public-offer-content__list">
                        <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.1. Сайт и содержание, входящее в состав сайта, принадлежит и управляется администрацией сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.2. Содержание сайта не может быть скопировано, опубликовано, воспроизведено, передано или распространено любым способом, а также размещено в глобальной сети «интернет» без предварительного письменного согласия администрации сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.3. Содержание сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.4. Информация, размещаемая на сайте не должна истолковываться как изменение настоящего соглашения.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.5. Администрация сайта имеет право в любое время без уведомления пользователя вносить изменения в перечень товаров и услуг, предлагаемых на сайте, и (или) в цены, применимые к таким товарам по их реализации и (или) оказываемым услугам сайтом.</p>
                       </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text">6. ОТВЕТСТВЕННОСТЬ</h5>
                    <ul class="public-offer-content__list">
                         <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.1. Любые убытки, которые пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего соглашения, а также вследствие несанкционированного доступа к коммуникациям другого пользователя, администрацией сайта не возмещаются.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.2. Администрация сайта не несет ответственности за:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.2.1. Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.2.2. Действия систем переводов, банков, платежных систем и за задержки связанные с их работой.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.2.3. Надлежащее функционирование сайта, в случае, если пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</p>
                       </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text">7. НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</h5>
                    <ul class="public-offer-content__list">
                         <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.1. Администрация сайта вправе раскрыть любую собранную о пользователе данного сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования сайта либо для установления (идентификации) пользователя, который может нарушать или вмешиваться в права администрации сайта или в права других пользователей сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.2. Администрация сайта имеет право раскрыть любую информацию о пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего соглашения, защиты прав или безопасности пользователей.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.3. Администрация сайта имеет право раскрыть информацию о пользователе, если действующее законодательство российской федерации требует или разрешает такое раскрытие.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.4. Администрация сайта вправе без предварительного уведомления пользователя прекратить и (или) заблокировать доступ к сайту, если пользователь нарушил настоящее соглашение или содержащиеся в иных документах условия пользования сайтом, а также в случае прекращения действия сайта либо по причине технической неполадки или проблемы.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.5. Администрация сайта не несет ответственности перед пользователем или третьими лицами за прекращение доступа к сайту в случае нарушения пользователем любого положения настоящего соглашения или иного документа, содержащего условия пользования сайтом.</p>
                       </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text">8. РАЗРЕШЕНИЕ СПОРОВ</h5>
                    <ul class="public-offer-content__list">
                         <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">8.1. В случае возникновения любых разногласий или споров между сторонами настоящего соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">8.2. Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">8.3. При невозможности разрешить спор в добровольном порядке любая из сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим законодательством российской федерации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text"><8.4. Любой иск в отношении условий использования сайта должен быть предъявлен в течение срок после возникновения оснований для иска, за исключением защиты авторских прав на охраняемые в соответствии с законодательством материалы сайта. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью./p>
                       </li>
                    </ul>
                    <h5 class="public-offer-content__list-title public-offer-content-text">9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h5>
                    <ul class="public-offer-content__list">
                         <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">9.1. Администрация сайта не принимает встречные предложения от пользователя относительно изменений настоящего пользовательского соглашения.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">9.2. Отзывы пользователя, размещенные на сайте, не являются конфиденциальной информацией и могут быть использованы администрацией сайта без ограничений.</p>
                       </li>
                    </ul>
                </div>
            </div>
        </section>
        <script src="../js/main.js"></script>
    </body>
</html>