.main {
	background: linear-gradient(180deg, #FFD567 0%, #D89A04 100%);
	min-height: inherit;
	@include align-center;
	&-wrapper {
		padding: 40px 28px 50px 28px;
	}
	&__head {
		margin-bottom: 60px;
		&-title {
			font-size: rem(30px);
			color: #fff;
			margin-bottom: 10px;
			@include lg(font-size, rem(50px));
		}
		&-desc {
			font-family: $PTFont;
			font-size: rem(16px);
			line-height: rem(25px);
			color: #FFF1CF;
			max-width: 324px;
			@include lg(font-size, rem(20px));
		}
	}
	&__bottom {
		&-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			@include sm(justify-content, flex-start);
		}
		&-item {
			padding: 5px;
		}
		&-title {
			font-size: rem(20px);
			line-height: 27px;
			color: #fff;
			margin-bottom: 20px;
			@include lg(font-size, rem(20px));
		}
		&-desc {
			font-family: $PTFont;
			font-size: rem(12px);
			line-height: 15px;
			color: #FFF1CF;
			opacity: 0.8;
			text-align: center;
			@include lg(font-size, rem(18px));
		}
		&-pic {
			width: 146px;
			@include lg(width, 200px);
			&:hover, &:active {
				opacity: 0.6;
			}
		}
	} 
}

.auto-animation {
	position: absolute;
	left: -360%;
	@include lg(left, -100%);
	z-index: 999;
	// transition: all 4s ease-in-out;
	// transform: translate(300%,0);
}