body {
    font-family: $AvenirFont
}
select {
    cursor: pointer;
    background: none;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

h1, h2, h3, h4, h5, h6, ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    margin-top: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

button[disabled], input[disabled] {
    opacity: 0.5;
    cursor: auto;
}

input, select {
    border: none;
    &:focus {
        outline: none;
        border: 2px solid #FEC530;
    }
}
 input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

fieldset {
    border: none;
}

.wrapper {
    min-height: calc(100vh - 60px);
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.wrapper-section {
    max-width: 320px;
    @include sm(max-width, 375px);
    @include lg(max-width, 475px);
    margin: 0 auto;
}

.container {
    @include container();
    @include sm(max-width, 510px);
    @include md(max-width, 690px);
    @include lg(max-width, 930px);
    @include xl(max-width, 1110px);
}